<!DOCTYPE html>
<html>
  <head>
    <title>Kekos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'angular/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="Memes">
    <%= yield %>
  </body>
</html>
